.animated-underline {
    position: relative;
    text-decoration: none;
}

.animated-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.animated-underline:hover::after {
    opacity: 1;
}

.animated-underline-thick {
    position: relative;
    text-decoration: none;
}

.animated-underline-thick::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.animated-underline-thick:hover::after {
    opacity: 1;
}